{% extends "base.html" %}

    <!-- block -->
    
   {% load static %}
     {% block body %}
      

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row align-items-stretch retro-layout-2">


          {% for post in posts %}
            {% if forloop.counter < 7 %}
                
            
            <div class="col-md-4">
              <a href="{{post.slug}}" class="h-entry mb-30 v-height gradient" style="background-image: url({{post.image.url}});">
                
                <div class="text">
                  <h2>{{post.title | safe}}</h2>
                  <span class="date">{{post.date | safe}}</span>
                </div>
              </a>     
            </div>

            {% endif %}
          {% endfor %}





          


        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <h2>Recent Posts</h2>
          </div>
        </div>

        <div class="row">

      {% for post in recentpost %}
    
        {% if forloop.counter < 10 %}
            
        
        
          <div class="col-lg-4 mb-4">
            <div class="entry2">
              <a href="{{post.slug |safe}}"><img src="{{post.image.url}}" alt="Image" class="img-fluid rounded"></a>
              <div class="excerpt">
              <span class="post-category text-white bg-secondary mb-3">{{post.category.title | safe}}</span>

              <h2><a href="{{post.slug | safe}}">{{post.title | safe }}</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{{post.image.url}}" alt="Image" class="img-fluid"></figure>
                
                <span>&nbsp;-&nbsp; {{post.date | safe }}</span>
              </div>
              
                <p>{{post.text | safe | truncatechars:100}}</p>
                <p><a href="{{post.slug | safe}}">Read More</a></p>
              </div>
            </div>
          </div>

          {% endif %}

      {% endfor %}

  


        </div>
        <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
            <div class="custom-pagination">
              <a class="bg-primary" href="/blog">All</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <!-- end block -->
 
   {% endblock body %}